<h1>Login</h1>
<div class="body center_text">
	<%= form_for :session, url: login_path do |f| %>

			<p><%= f.label :email %></p>
			<%= f.email_field :email, class: "text_input" %>
			<br/>

			<p><%= f.label :password %></p>
			<%= f.password_field :password, class: "text_input" %>
			<br/>

		<%= f.submit "Submit", class: "button" %>
	<% end %>
</div>
