<h1>Sign up</h1>

<div class="body center_text">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :username %></p>
      <%= f.text_field :username, class: "text_input" %>
    <br/>

    <p><%= f.label :email %></p>
    <%= f.email_field :email, autofocus: true, class: "text_input" %>
    <br/>

    <p><%= f.label :password %></p>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, class: "text_input", autocomplete: "off" %>
    <br/>

    <p><%= f.label :password_confirmation %></p>
    <%= f.password_field :password_confirmation, class: "text_input", autocomplete: "off" %>
    <br/>

    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  <% end %>
</div>

<div class="center_text">
  <%= render "devise/shared/links" %>
</div>
