<!DOCTYPE html>
<html>
<head>
  <title>Math</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="size">
	<ul class="center_text">
		<% if current_user %>
			<li class="left"><%= link_to 'New Game', new_game_path %></li>
			<li style="padding-right:26px;"><%= link_to 'Home', root_path %></li>
			<li class="right"><%= link_to 'Logout', logout_path, method: 'delete' %></li>
		<% else %>
			<li class="left"><%= link_to 'Login', login_path %></li>
			<li><%= link_to 'Home', root_path %></li>
			<li class= "right"><%= link_to 'Signup', signup_path %></li>
		<% end %>
	</ul>
</header>

<% if !flash.empty? %>
  <% flash.keys.each do |k| %>
      <div class="<%= k %>">
          <%= flash[k] %>
      </div>
  <% end %>
<% end %>

<div class="body">
	<%= yield %>
</div>

</body>
</html>
