<!DOCTYPE html>
<html>
<head>
  <title>Math</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !flash.empty? %>
  <% flash.keys.each do |k| %>
      <div class="<%= k %>">
          <%= flash[k] %>
      </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
